<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>sh.brew</string>

  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/brew</string>
    <string>upgrade</string>
  </array>

  <key>StartInterval</key>
  <integer>3600</integer>

  <key>RunAtLoad</key>
  <true/>

  <key>StandardErrorPath</key>
  <string>/tmp/BREW.err</string>

  <key>StandardOutPath</key>
  <string>/tmp/BREW.out</string>
</dict>
</plist>
